# Environment variables
.env
.env.*

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Logs
*.log

# Test cache
.pytest_cache/

# Type checker
.mypy_cache/

# Coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

**/__pycache__/
